<% content_for :actions, actions(:customer) %>
<% content_for :angular_controller, "CustomerController" %>

<% content_for :filtros do  %>
  <%= form_tag "", method: :get, "ng-submit" => "pesquisar()" do %>
    <div class="box-content" ng-init='<%= init_angular([:filter]) %>; canEdit=<%= can?(:update, Customer) %>;'>
      <div class="row">
        <div class="form-group col-sm-12">
          <%= label_tag :filter, "Filtro" %>
          <%= text_field_tag :filter, @filter, title: "Pesquise por algum dos campos da tabela", autofocus: true, placeholder: "Pesquisar",
            class: "form-control input-sm", "ng-model" =>  "filters.filter" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-white pull-right btn-sm" type="button" ng-click="limparFiltros()">Limpar Filtros</button>

          <button class="btn btn-primary pull-right btn-sm" type="submit">
            <i class="icon-search"></i> Pesquisar
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :resultados do  %>
  <p ng-show="customers.length == 0" class="alert alert-info"><i class="icon-info-sign"></i> Nenhum resultado encontrado</p>

  <table class="table table-hover table-striped" ng-show="customers">
    <thead>
      <tr>
        <th ng-click="order('nome')" class="{{orderClass('nome')}}">Nome</th>
        <th ng-click="order('cpf_cnpj')" class="{{orderClass('cpf_cnpj')}}">CPF/CPNJ</th>
        <th ng-click="order('customers.telefone')" class="{{orderClass('customers.telefone')}}">Telefone</th>
        <th ng-click="order('customers.email')" class="{{orderClass('customers.email')}}">E-Mail</th>
        <th ng-click="order('representatives.nome_fantasia')" class="{{orderClass('representatives.nome_fantasia')}}">Representante do Cliente</th>
      </tr>
    </thead>

    <tbody>
      <tr data-href="{{customer.show_html_url}}" ng-repeat="customer in customers track by customer.id">
        <td>{{customer.nome}}</td>
        <td>{{customer.cpf_cnpj_formatado}}</td>
        <td>{{customer.telefone_formatado}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.representatives['nome_fantasia']}}</td>

        <!-- Função de bloquear não está sendo usada
        <td class="text-center" title="{{customer.status['title']}}"><i class="{{customer.status['classes']}}"></i></td>
        -->
      </tr>
    </tbody>
  </table>

  <bgf-pagination
    collection="customers"
    url="'<%= customers_path(format: :json) %>'"
    template-url="<%= url_template_paginacao %>"
    url-params="filtersPaginate"
    size="'sm'"
    per-page="<%= Kaminari.config.default_per_page %>">
  </bgf-pagination>
<% end %>