<% content_for :actions, actions(:role) %>
<% content_for :angular_controller, "RoleController" %>

<% content_for :filtros do  %>
  <%= form_tag "", method: :get, "ng-submit" => "pesquisar()" do %>
    <div class="box-content" ng-init='<%= init_angular([:filter]) %>; canEdit=<%= can?(:update, Role) %>;'>
      <div class="row">
        <div class="form-group col-sm-12">
          <%= label_tag :filter, "Filtro" %>
          <%= text_field_tag :filter, @filter, title: "Pesquise por descrição", autofocus: true, placeholder: "Descrição",
            class: "form-control input-sm", "ng-model" =>  "filters.filter" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-white pull-right btn-sm" type="button" ng-click="limparFiltros()">Limpar Filtros</button>

          <button class="btn btn-primary pull-right btn-sm" type="submit">
            <i class="icon-search"></i> Pesquisar
          </button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :resultados do  %>
  <p ng-show="roles.length == 0" class="alert alert-info"><i class="icon-info-sign"></i> Nenhum resultado encontrado</p>

  <table class="table table-hover table-striped" ng-show="roles">
    <thead>
      <tr>
        <th ng-click="order('description')" class="{{orderClass('description')}}">Nome</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr data-href="{{role.show_html_url}}" ng-repeat="role in roles track by role.id">
        <td>{{role.description}}</td>
        <td class="text-right">
          <a href="{{role.edit_html_url}}" class="btn btn-success btn-xs" ng-if="canEdit">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>

  <bgf-pagination
    collection="roles"
    url="'<%= roles_path(format: :json) %>'"
    template-url="<%= url_template_paginacao %>"
    url-params="filtersPaginate"
    size="'sm'"
    per-page="<%= Kaminari.config.default_per_page %>">
  </bgf-pagination>
<% end %>