<!DOCTYPE html>
<html>
  <head>
    <title>Representantes | SendMy</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="robots" content="noindex,nofollow">

    <%= stylesheet_link_tag "representante/representante", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag "representante/flatty/ie/html5shiv.js" %>
      <%= javascript_include_tag "representante/flatty/ie/respond.min.js" %>
    <![endif]-->

    <%= javascript_include_tag 'representante/representante', 'data-turbolinks-track' => true %>
  </head>

  <body class="crud contrast-dark <%= yield(:class_body) %> fixed-header <%= controller_name %>"
      data-controller="<%= controller_name %>"
      <%= raw(content_for?(:angular_controller) ? "ng-controller=\"#{content_for(:angular_controller)}\"" : "") %>>
    <%= render partial: "layouts/header_representante" if representative_signed_in? %>

    <% if representative_signed_in? %>
      <div id="wrapper">
        <div id="main-nav-bg"></div>
        <nav class="main-nav-fixed" id="main-nav">
          <div class="navigation">
            <ul class="nav nav-stacked">
              <li>
                <%= link_to "#", class: "dropdown-collapse", data: {controller: "customers"} do %>
                  <i class="icon-group"></i>
                  <span>Clientes</span>
                  <i class='icon-angle-down angle-down'></i>
                <% end %>

                <ul class='nav nav-stacked <%= (controller_name == "customers") ? "in" : "" %>'>
                  <li>
                    <%= link_to representative_customers_path(status_venda: :todos) do %>
                      <i class='icon-asterisk'></i>
                      <span>Todos</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to representative_customers_path(status_venda: :com_licenca) do %>
                      <i class='icon-certificate text-success'></i>
                      <span>Com Licença</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to representative_customers_path(status_venda: :sem_licenca) do %>
                      <i class='icon-certificate text-warning'></i>
                      <span>Sem Licença</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to sale_representative_customers_path do %>
                      <i class='icon-money text-primary'></i>
                      <span>Vender Licenças</span>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to "#", class: "dropdown-collapse", data: {controller: "license_movements"} do %>
                  <i class="icon-certificate"></i>
                  <span>Licenças</span>
                  <i class='icon-angle-down angle-down'></i>
                <% end %>

                <ul class='nav nav-stacked <%= (controller_name == "license_movements") ? "in" : "" %>'>
                  <li>
                    <%= link_to representative_license_movements_path(status: :todas) do %>
                      <i class='icon-asterisk'></i>
                      <span>Todas</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to representative_license_movements_path(status: :para_venda) do %>
                      <i class='icon-check-empty text-success'></i>
                      <span>Licenças para Venda</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to representative_license_movements_path(status: :vendidas) do %>
                      <i class='icon-check text-success'></i>
                      <span>Licenças Vendidas</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to representative_license_movements_path(status: :aguardando) do %>
                      <i class='icon-refresh text-warning'></i>
                      <span>Aguardando Confirmação</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_representative_license_movement_path do %>
                      <i class='icon-shopping-cart text-primary'></i>
                      <span>Comprar</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <section id="content">
          <div class="container">
            <div class="row" id="content-wrapper">
              <div class="col-xs-12">
                <%= content_for?(:content) ? yield(:content) : yield %>
              </div>
            </div>

            <footer id="footer">
              <div class="footer-wrapper">
                <div class="row">
                  <div class="col-sm-6 text">
                    <a target="_blank" href="<%= root_url %>">SendMy | Copyright <%= Date.today.year %></a>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </section>
      </div>
    <% else %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    <% end %>

    <%= yield :scripts %>
    <script>
      $(document).on("page:change", function() {
        app.order = "<%= @order %>";
        app.asc_desc = "<%= @asc_desc %>";

        if (app.order !== "") {
          $("[data-order=" + app.order.replace(".", "\\.") + "]").addClass("active").attr("data-ascdesc", app.asc_desc);
        }
      });
    </script>
  </body>
</html>